{{ '{%' }} extends "base.html" {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}Error - {{ '{{' }} super() {{ '}}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block styles {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block content {{ '%}' }}
  <div class="row">
    <div class="col-12 text-center">
      <h4>There has been an error with the website.</h4>
      {{ '{%' }} block error_details {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}
    </div>
  </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block scripts {{ '%}' }}{{ '{%' }}endblock {{ '%}' }}
